*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color:#325343;
}
nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  list-style: none;
}
.logo a{
  text-decoration: none;
  font-size: 20px;
  color: #397a4a;
  font-weight: bold;
}
.logo a i{
  font-size: 30px;
  font-weight: bold;
}
nav ul li a{
  text-decoration: none;
  color: #397a4a;
  font-weight: bold;
}
nav ul li a:hover{
  text-decoration: underline;
  color: #397a4a;
  font-weight: bold;
}
.bg-image{
  width: 100%;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./images/bg.webp');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image h2{
  text-align: center;
  margin-top: 125px;
  line-height: 2;
  font-size: 30px;
  color: #ffffffdb;
}
.btn button{
  padding: 15px;
  width: 220px;
  margin-top: -100px;
  background-color: #5a9d44;
  border: none;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.btn button:hover{
  background-color: white;
  border: .5px solid #5a9d44;
}
.btn button a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all .5s ease-in-out;
}
.btn button a:hover{
  color: #5a9d44;
}
.info{
  background-color: #325343;
}
.info h2{
  color: white;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.5;
}
.info span{
  color: #a6de9b;
}
.info p{
  color: #ffffffdb;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 100px;
}
.info2{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5,180px);
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.title{
  margin-top: 90px;
}
.title h3{
  margin: 0;
  font-size: 25px;
  text-align: center;
  color: #ad9b7d;
  margin-bottom: 20px;
}
.title p{
  margin: 0;
  font-size: 35px;
  text-align: center;
  color: #33394a;
}
.ht{
  height: 200px;
  width: 200px;
  border: .5px solid transparent;
  transition: all .5s ease-in-out;
}
.ht:hover{
  height: 200px;
  width: 200px;
  border: .5px solid #5a9d44;
  cursor: pointer;
}
.ht img{
  width: 60px;
  margin-top: 50px;
  margin-left: 68px;
}
.ht p{
  margin-top: 10px;
  text-align: center;
  color: #33394a;
}
.info3{
  margin: auto;
  margin-bottom: 40px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4,180px);
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.grid{
  display: grid;
}
.justify{
  justify-content: center;
}
.align{
  align-items: center;
}
.bg-image2{
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./images/Our-Values.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}
.bg-image2 h4{
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffffdb;
}
.bg-image2 h2{
  text-align: center;
  margin-top: -150px;
  font-size: 40px;
  color: #ffffffdb;
}
.bg-image2 p{
  text-align: center;
  margin-top: -200px;
  line-height: 1.5;
  color: #ffffffdb;
}
.bg-image3{
  margin: auto;
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  background-image: url('./images/bg3.webp');
  background-position: bottom -90px center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.image img{
  width: 70%;
  border-radius: 39% 0% 76% 4% / 81% 100% 0% 9%;
}
.message p{
  width: 70%;
  margin: auto;
  font-size: 32px;
  color: #444444;
  margin-bottom: 20px;
}
.message p span{
  color: #397a4a;
}
.message p a{
  text-decoration: none;
  font-size: 16px;
  padding: 12px 15px;
  background-color: #a6de9b;
  color: #397a4a;
  border-radius: 15px;
  transition: all .5s ease-in-out;
}
.message p a:hover{
  background-color: #397a4a;
  color: white;
}
footer{
  width: 100%;
  background-color: #325343;
}
.footer-grid{
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 40px;
}
.footer-logo p{
  margin-top: -3px;
}
.footer-logo a, .media-nav a{
  text-decoration: none;
  font-size: 20px;
  color: #5ea446;
  font-weight: bold;
}
.socials i{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: white;
  transition: color .5s ease-in-out;
}
.socials i:hover{
  color: #5ea446;
  cursor: pointer;
}
.contact h4,.links h4, .work-hrs h4{
  color: #5ea446;
  margin-bottom: 20px;
}
.contact div p, .work-hrs div p{
  margin-bottom: 20px;
  color: #191b22;
}
.links ul{
  list-style: none;
}
.links li, .links li a {
  text-decoration: none;
  margin-bottom: 20px;
  color: #191b22;
}
.media-nav{
  /* width: 100vw; */
  padding: 20px;
  background-color: #325343;
}
.book, .services{
  /* width: 100vw; */
  padding: 20px;
  background-color: #5a9d44;
}
.book a, .services{
  text-decoration: none;
  color: #325343;
  font-size: 20px;
  font-weight: bold;
}
.contacT{
  /* width: 100vw; */
  padding: 20px;
  background-color: #325343;
  color: #5a9d44;
  font-size: 20px;
  font-weight: bold;
}
.hide{
  display: none;
  height: 100vh;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body{
    height: 100vh;
  }
  .display{
    display: none;
  }
  .hide{
    display: block;
  }
}
@media screen and (max-width: 768px) {
  nav{
    width: 123%;
    padding: 20px 6px;
    font-size: 14px;
  }
  .bg-image{
    width: 123%;
  }
  .bg-image h2 {
    font-size: 23px;
  }
  .btn button {
    margin-top: -150px;
  }
.info, .title{
  width: 123%;
  }
.info2, .info3{
  width: 117%;
  grid-template-columns: repeat(2, 180px);
  }
.bg-image2, .bg-image3{
  width: 123%;
  }
footer{
  width: 123%;
  }
.footer-grid{
  grid-template-columns: 1fr;
  }
  .socials{
    margin-bottom: 20px;
  }
}
